// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: rgb(243, 250, 254);
}

.container {
  width: 1024px;
  background-color: white;
}

.header {
  background-image: linear-gradient(
      rgb(117, 184, 221) 0px,
      rgb(104, 173, 208) 14%,
      rgb(76, 147, 182) 36%,
      rgb(51, 127, 165) 57%,
      rgb(28, 116, 160) 71%,
      rgb(4, 109, 160) 86%,
      rgb(0, 109, 160) 89%,
      rgb(0, 109, 160) 100%);
  padding-left: 20px;
  line-height: 10vh;
  font-size: 2em;
  color: white;
}

.full-height {
  height: 100%;
}

#tree {
  position: relative;
  margin-top: 3vh;
  font-size: 0.9em;
  border-right: rgb(235, 235, 235) solid 1px;
}

#tree .node-tree {
  padding-top: 5px;
  padding-bottom: 5px;
}

.no-border {
  border: 0 none;
}

.no-border-horizon {
  border-left: 0 none;
  border-right: 0 none;
}

.no-border-top {
  border-top: 0 none;
}

.no-border-bottom {
  border-bottom: 0 none;
}

.brief {
  position: relative;
  margin-top: 3vh;
}

.brief-number {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: rgb(235, 235, 235) solid 1px;
  padding-bottom: 1vh;
  font-size: 0.9em;
  font-weight: bold;
}

.brief-list {
  height: 30vh;
  overflow-y: scroll;
  margin-top: 1vh;
}

.brief-item {
  margin-left: 0;
  margin-right: 0;
}

.brief-item-title {
  position: relative;
  float: left;
  width: 90%;
}

.brief-item-label {
  position: relative;
  float: left;
  width: 10%;
}

.article {
  position: relative;
  height: 70%;
  margin-top: 3vh;
  border-top: rgb(235, 235, 235) solid 1px;
}

.article-status {
  margin-bottom: 1em;
  margin-top: 3vh;
}

.article-status-button {
  padding-left: 0;
  padding-right: 0;
}

.article-detail {
  font-size: 1.1em;
}
