{% extends 'base.html' %}

{% block title %}IEEE文献管理{% endblock %}

{% block styles %}
<!--build:css styles/index.css-->
<link rel="stylesheet" href="styles/index.css">
<!--endbuild-->
{% endblock %}

{% block scripts %}
<!--build:js scripts/index.js-->
<script src="scripts/index.js"></script>
<!--endbuild-->
{% endblock %}

{% block content %}

<main class="container">
  <div class="row header">
    IEEE Xplore 文献管理系统
  </div>
  <div class="row full-height">
    <div class="col-xs-3">
      <div id="tree"></div>
    </div>

    <div class="col-xs-9 full-height">
      <div class="brief" id="brief">
        <div class="brief-number">
          ${ title }$
        </div>
        <ul class="list-group brief-list">
          <a href='javascript:void(0)' class="list-group-item no-border" v-for="item in items" @click="getDetail(item)">
            <div class="row brief-item">
              <div class="brief-item-title">
                ${ item.title }$
              </div>
              <div class="brief-item-label">
                <template v-if="item.status === 0">
                  <span class="label label-default label-pill pull-right">未读</span>
                </template>
                <template v-if="item.status === 1">
                  <a v-if="item.downloaded" href="/api/pdf?arnumber=${item.entry_number}$"
                     class="label label-primary label-pill pull-right" target="_blank">PDF</a>
                </template>
                <template v-if="item.status === 2">
                  <a v-if="item.downloaded" href="/api/pdf?arnumber=${item.entry_number}$"
                     class="label label-primary label-pill pull-right" target="_blank">PDF</a>
                  <span class="label label-default label-pill pull-right">未读</span>
                </template>
                <template v-if="item.status === 3">
                  <a v-if="item.downloaded" href="/api/pdf?arnumber=${item.entry_number}$"
                     class="label label-primary label-pill pull-right" target="_blank">PDF</a>
                  <span class="label label-danger label-pill pull-right">重要</span>
                </template>
              </div>
            </div>
          </a>
        </ul>
      </div>

      <div class="article" id="article">
        <div class="row article-status">
          <div class="col-xs-6">
            <template v-if="article.status === 1">
              <label v-else class="label label-success label-pill">已读</label>
            </template>
            <template v-if="article.status === 2">
              <span class="label label-default label-pill">未读</span>
            </template>
            <template v-if="article.status === 3">
              <span class="label label-danger label-pill">重要</span>
            </template>
            <template v-if="article.downloaded">
              <a class="label label-primary label-pill" href="/api/pdf?arnumber=${article.entry_number}$"
                 target="_blank">PDF</a>
            </template>
          </div>
          <div class="col-xs-6">
            <button v-if="editing" class="btn btn-default" @click="save()">保存笔记</button>
            <button v-else class="btn btn-default" @click="edit()">编辑笔记</button>
            <button class="btn btn-success" @click="changeStatus(1)">标为已读</button>
            <button class="btn btn-primary" @click="changeStatus(2)">标为全文</button>
            <button class="btn btn-danger" @click="changeStatus(3)">标为重要</button>
          </div>
        </div>
        <div class="article-detail">
          <ul class="list-group">
            <li class="list-group-item no-border-horizon no-border-top">
              Title: ${ article.title }$
            </li>
            <li class="list-group-item no-border-horizon">
              Authors: ${ article.author }$
            </li>
            <li v-if="editing" class="list-group-item no-border-horizon">
              <label for="article-note">Note:</label>
              <textarea id="article-note">${ article.note }$</textarea>
            </li>
            <li v-else class="list-group-item no-border-horizon">
              <label>Note:</label> ${ article.note }$
            </li>
            <li class="list-group-item no-border-horizon">
              <label>Abstract:</label> <b>${ article.abstract }$</b>
            </li>
            <li class="list-group-item no-border-horizon no-border-bottom">
              Keywords: ${ article.keyword }$
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

</main>

{% endblock %}
